@model IEnumerable<Gif>

    <h1>All Gifs</h1>

@foreach(Gif gif in Model)
{
    <a href="gifs/@gif.Id"><h3>@gif.Name</h3></a>
    <image src="@gif.Url"></image>
    <p>Rating: @gif.Rating</p>
}

<a href="/gifs/create">Add a gif</a>
